* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.video {
    position: absolute;
    z-index: -1;
    width: 100%;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 100px;
}

h2 {
    user-select: none;
    font-size: 26px;
    font-weight: 600;
    color: aliceblue;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 0 20px;
    padding: 0 12px;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    text-align: center;
    max-width: 1200px;
    color: aliceblue;
}

.main-content h1 {
    font-size: 3rem;
}

.main-content p {
    margin-top: 20px;
    font-size: 18px;
    max-width: 700px;
}

.main-content button {
    margin-top: 24px;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 12px 28px;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: .5px;
    background: blue;
    color: aliceblue;
    cursor: pointer;
}